<entry>
  <title>{{ title }}</title>
  <link href="{{ site.url }}/post/{{ slug }}/"/>
  <id>http://andrewduthie.com/post/{{ slug }}/</id>
  <updated>{{ formatDate date "%FT%T%z" }}</updated>
  <content type="html">
    {{# sanitize }}
    {{# markdown }}
    {{{ this.content }}}
    {{/ markdown }}
    {{/ sanitize }}
  </content>
</entry>