<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>Latest blog entries</subtitle>
  <link href="{{ site.url }}/"/>
  <link rel="self" href="{{ site.url }}/feed.xml"/>
  <updated>{{ now "%FT%T%z" }}</updated>
  <author>
    <name>Andrew Duthie</name>
    <uri>{{ site.url }}</uri>
    <email>{{ site.author.email }}</email>
  </author>
  <rights>Copyright (c) 2012-{{ now "%Y" }}, Andrew Duthie</rights>
  <id>{{ site.url }}/</id>
  {{> body }}
</feed>
