<!doctype html>
<html>
<head>
  {{> head }}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ site.url }}/post/{{ name }}/">
  <meta property="article:published_time" content="{{ formatDate date "%FT%T%z" }}">
  <meta property="article:author" content="{{ site.url }}/">

  <link rel="prefetch" href="{{ site.url }}">

  <title>{{ title }} | {{ site.title }}</title>
</head>
<body>

<header class="intro">
  <div class="post-header clearfix">
    <div class="return-home">
      <a href="/"><i class="headshot-mini"></i> Home</a>
    </div>
    {{> me-links }}
  </div>
</header>

<div class="container main-content">
  {{> post }}
  {{> disqus }}
</div>

{{> footer }}

{{> javascripts }}

</body>
</html>